body, html {
  padding: 0;
  margin: 0;
  height: 100%;
  color: white;
  background: url('bg.jpg') no-repeat center bottom black;
  background-size: cover;
  font-family: 'Oswald', sans-serif;
}

div.text {
  color: #a4d2fd;
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  text-shadow: 0 0 10px #000;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  font-size: 16px;
  z-index: 10;
}

a {
  color: white;
  cursor: pointer;
}

a.label {
  font-weight: bold;
  color: white;
}

div.marketcap {
  position: absolute;
  bottom: 88px;
  left: 50%;
  text-align: center;
  color: #a4d2fd;
  margin-left: -100px;
  text-shadow: 0 0 10px #000;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

.marketcap:before {
    content: "Total Market Cap: ";
    color: white;
}

nav {
  position: absolute;
  color: #a4d2fd;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}

nav > * {
  cursor: pointer;
  opacity: 0.5;
  pointer-events: auto;
}

nav > *:hover {
  opacity: 1;
}

nav .help {
  right: 10px;
  top: 10px;
  position: absolute;
  font-size: 36px;
}

nav .right, nav .left {
  position: absolute;
  top: 50%;
  left: 0;
  font-size: 48px;
  display: none;
  margin-top: -24px;
}

nav .right {
  left: auto;
  right: 0;
}

div.overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
  max-height: 100%;
  padding: 50px;
  max-width: 100%;
  box-sizing: border-box;
}

div.overlay .box {
  display: inline-block;
  text-align: center;
  padding: 20px;
  background: rgba(0,0,0,0.75);
  height: auto;
  border-radius: 10px;
  cursor: default;
  text-shadow: 0 0 10px #000;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  overflow: auto;
  max-height: 100%;
  max-width: 100%;
}

div.overlay .box b {
  color: gold;
  cursor: text;
}

div.overlay .donation {
  display: none;
}

div.overlay .donation img {
  margin: 10px;
}

span.price {
  display: block;
  color: gold;
}

span.stats {
  white-space: pre;
  text-align: right;
  z-index: 10;
  float: right;
  position: relative;
}

div.currencies {
  display: flex;
  height: 100%;
}

div.currencies > div {
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 10px;
  box-shadow: inset 0 0 25px rgba(0,0,0,0.5);
}

div.currencies canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

div.btc {
  background: url('img/btc.png') no-repeat center center;
  background-size: 80% auto;
}

div.eth {
  background: url('img/eth.png') no-repeat center center;
  background-size: 80% auto;
}

div.ltc {
  background: url('img/ltc.png') no-repeat center center;
  background-size: 80% auto;
}

div.xrb {
  background: url('img/xrb.png') no-repeat center center;
  background-size: 80% auto;
}

@media screen and (max-width: 1100px) {
  div.currencies > div:nth-child(4) {
    display: none;
  }
  nav .left, nav .right {
    display: block;
  }
}

@media screen and (max-width: 800px) {
  div.currencies > div:nth-child(3) {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  div.currencies > div:nth-child(2) {
    display: none;
  }
}