body, html {
  background: black;
  padding: 0;
  margin: 0;
  height: 100%;
  color: white;
  background: url('bg.jpg') no-repeat center bottom;
  background-size: cover;
}

div.price {
  color: white;
}

div.price:before {
  content: '$';
}

div.currencies {
  display: flex;
  height: 100%;
}

div.currencies > div {
  position: relative;
  width: 25%;
  height: 100%;
}

div.currencies canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}